[user]
	email = karlk@kralnet.us
	name = Karl Kroening

[core]
	excludesfile = ~/.global_gitignore

[url "git@github.com-agosto-dev:agosto-"]
    insteadOf = "git@github.com:agosto-"

[url "git@github.com-agosto-dev:agosto-"]
    insteadOf = "git+ssh://git@github.com/agosto-"

[url "ssh://git@github.com-agosto-dev/agosto-"]
    insteadOf = "ssh://git@github.com/agosto-"
