[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim
[submodule ".vim/bundle/vimpdb"]
	path = .vim/bundle/vimpdb
	url = git@github.com:gotcha/vimpdb.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
